<body>
  <div class="container">
    <div class="register-container"></div>
      <h2 class="register-title">Registrarse</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-container">
          
          <div class="form-group">

            <label class= "col-sm-2 col-form-label">DNI: </label>
            <input type="text" formControlName="dni" class="form-control">
          
            <label>Contraseña: </label>
            <input type="password" formControlName="password" class="form-control">
         
            <label>Nombre: </label>
            <input type="text" formControlName="nombre" class="form-control">
          
            <label>Apellidos: </label>
            <input type="text" formControlName="apellidos" class="form-control">
          
            <label>E-mail: </label>
            <input type="text" formControlName="correo" class="form-control">
         
            <label>Nº Teléfono: </label>
            <input type="tel" formControlName="telefono" class="form-control">
          
            <label>Tipo de usuario: </label>
            <select class="form-control" formControlName="tipo usuario">
                <option value="">Seleccionar</option>
                <option value="Administrador">Administrador</option>
                <option value="Asistente">Asistente</option>
            </select>
            <br>
            <div class="form-group">
              <p><input type="submit" class="submit" value="Registrar"></p>
            <p><input type="submit" class="submit" routerLink="/login" value="Cancelar"></p> 
          </div>
          </div>
        
         

      </form>
    

    
    
  </div>
  

</body>


