<div class="container">
    <div class="row">
        <div class="col-md 6">
            <h1>Reuniones</h1>
            <div *ngFor="let reunion of reuniones">
                <app-reuniones-pre [reunion]="reunion"></app-reuniones-pre>
            </div>
        </div>
        
        
        <div class="col-md 6">
            <h1>Nuevas reuniones</h1>
            <div *ngFor="let reunion of reunionesNuevas">
                <app-reuniones-pre [reunion]="reunion"></app-reuniones-pre>
            </div>
        </div>
    </div>
</div>